
/* STYLESHEET TXT FILE TO MAKE GROUP CHANGES */
/* WE CAN ALL AGREE ON A COLOR FOR THE PAGE. LAVENDER IS JUST TEMPORARY COLOR */
body{
    background-color: lavender;
}


/* CURRENTLY THIS ONLY AFFECTS THE TWO LINES ON MY SECION. 
WE CAN DECIDE AS A TEAM WHAT COLOR/STYLE WE WANT AS A HEADING <h1>,<h2>, etc. */
h6 {
    color: rebeccapurple;
}
p13 {
    color: violet;
}
/*This is where Rina's work ends. :) */

/* This is where Nina's work starts! uwu */
h7 {
    color:#ff99cc;
}

/*CSS Practice: Where I made all of my classes!*/ 
    /* Added ID! */
    #NinaHeader {
            background-color:#ff99cc;
            color:#9966ff;
            padding: 35px;
            text-align: center; 
    }
    
    /*Added Classes! */
    .NinaClass {
        background-color:#9966ff;
        color: #ff99cc;
        padding: 20px;
        text-align: center;
    }
    .NinaWantsMandatedColor {
        color: #ff99cc;
    }
    
    /* Added link manipulation */ 
    a:link{
        color:#9966ff;
    }
    a:hover{ 
        color:black;
    }
    a:active{
        color:#ff99cc;
    }

    /* Added image manipulation - taken from w3schools*/
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
/* This is where Nina's work ends! UWU */
/* This is where Trevor's work Starts! ;) */
h8{
    color:palegoldenrod
    
}
/* This is where Trevor's work Ends! ;) */